.headerLogo {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    background-color: red;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.locationInfo {
    padding: 100px;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
   flex-direction: column;
   
}

.imgRoot {
    display: flex;
    justify-content: center;
    
}