:root{
    --red: #CC0000;
    --white: #FF0000;
    --black: #000000;
    --grey: #3b3b3b;
    --yellow: #F6A917;
    --blue: #56758f;
}

.headerLogo {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    background-color: red;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-bottom-right-radius: 10px;
}

.locationInfo {
    padding-bottom: 50%;
    padding-top: 10%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.locationInfo div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationInfo iframe {
    height: 100%;
    width: 150%;
    left: 0;
    top: 0;
    border-radius: 10px;
    
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
   flex-direction: column;
   background-color: #b7cced;
}

.imgRoot {
    display: flex;
    justify-content: center;
    
}
